:root {
    --base-background: #fff;
    --base-color: #333;
    --base-color-lighter: #777;
    --base-color-muted: #999;

    /**
     * 色参考
     * @see https://material.io/resources/color/
     */
    --yellow-background: #fff9c4;
    --yellow-background-lighter: #fffde7;
    --orange-background-dark: #ff9800;
    --orange-background-dark-active: #fb8c00;

    --hatena-color: #01a5df;

    --base-font:
        -apple-system,
        BlinkMacSystemFont,
        Helvetica Neue,
        Yu Gothic,
        YuGothic,
        Verdana,
        Meiryo,
        M+ 1p,
        sans-serif;

    /* 上書き */
    --ui-gap-content: 2em;
}

/*
 * base上書き
 */
.ui-text-note {
    color: var(--base-color-muted);
}
.ui-section-header__layout img {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
.ui-section-content {
    padding-top: 2.5em;
    padding-bottom: 3.5rem;
}
.ui-section-header {
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.ui-component-form {
    border-radius: 0;
    grid-template-columns: auto minmax(0, 1fr) auto;
}
.ui-component-form .ui-component-button {
    border-radius: 0;
    background: var(--orange-background-dark);
    border-color: var(--orange-background-dark);
}
.ui-component-form .ui-component-button.active {
    background: var(--orange-background-dark-active);
    border-color: var(--orange-background-dark-active);
}

/*
 * 共通
 */
.ui-typography-heading {
    text-align: left;
}

/**
 * ヘッダー
 */
.ui-section-header__layout .ui-section-header__title {
    display: inline-block;
    line-height: 22px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 1.3em;
    color: var(--base-color);
}

/*
 * トップ
 */
.top-section {
}
.ui-component-form__label {
    margin-left: 0.2em;
}
.ui-component-form__label img {
    width: 32px;
    height: 32px;
}
.ui-component-form__label span {
    font-weight: bold;
}

/*
 * フィード
 */
.ui-section-feed {
    background: var(--yellow-background-lighter);
}
.ui-section-feed .ui-layout-grid {
    align-items: flex-start;
}
.ui-container-feed {
    text-align: left;
    margin-top: 2em;
}
.ui-feed-item {
    display: grid;
    color: var(--base-color);
    grid-template-columns: 130px 1fr;
    align-content: start;
    grid-gap: 0 0.5em;
}
.ui-feed-item .ui-feed-item__ogp-image {

}
.ui-feed-item .ui-feed-item__ogp-image img {
    width: 100%;
    height: auto;
    max-height: 8.0em;
    /* TODO: aspect-ratio の対応ブラウザが増えたら使う */
    /*aspect-ratio: 1200 / 630;*/
    object-fit: contain;
}
.ui-feed-item .ui-feed-item__content {
    left: 0 !important;
}
.ui-feed-item .ui-feed-item__title  {
    font-size: 0.9em;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
}
.ui-feed-item .ui-feed-item__title a:hover {
    text-decoration: underline;
}
.ui-feed-item .ui-feed-item__title a:visited {
    color: var(--base-color-lighter);
}
.ui-feed-item .ui-feed-item__hatena-count {
    margin: 0.1em 0;
    font-size: 0.7em;
}
.ui-feed-item .ui-feed-item__hatena-count img {
    display: inline;
    width: 1.25em;
    height: 1.25em;
    vertical-align: middle;
}
.ui-feed-item .ui-feed-item__hatena-count span {
    color: var(--hatena-color);
    font-weight: bold;
    vertical-align: middle;
}
.ui-feed-item .ui-feed-item__blog-title {
    margin: 0.3em 0;
    font-size: 0.75em;
    left: 0 !important;
}
.ui-feed-item .ui-feed-item__summary {
    font-size: 0.75em;
    margin: 0.3em 0;
    word-break: break-all;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.ui-feed-item .ui-feed-item__summary a {
    color: var(--base-color-muted);
}
.ui-feed-item .ui-feed-item__date {
    color: var(--base-color-muted);
    font-size: 0.7em;
}

@media screen and (min-width: 48rem) {
    .ui-feed-item {
        display: block;
    }
    .ui-feed-item .ui-feed-item__ogp-image {
        display: block;
    }
    .ui-feed-item .ui-feed-item__ogp-image img {
        height: 10.5em;
        max-height: 10.5em;
    }
    .ui-feed-item .ui-feed-item__title  {
        margin-top: 0.5em;
    }
}



/*
 * フッター
 */
footer {
}
