<!doctype html>
<html lang="ja">
<head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name='description' content='{{ constants.siteDescription }}'>
    <meta name="author" content="{{ constants.author }}">
    <meta name="robots" content="index, follow">

    <meta property="og:url" content="{{ constants.siteUrl }}" />
    <meta property="og:title" content="{{ pageTitle }}" />
    <meta property="og:image" content="{{ constants.siteUrl }}images/og-image.png" />
    <meta property="og:description" content="{{ constants.siteDescription }}" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{ constants.siteTitle }}" />
    <meta property="og:locale" content="ja_JP">

    <meta name="twitter:card" content="summary">
    <meta property="twitter:domain" content="{{ constants.siteUrl }}">
    <meta property="twitter:url" content="{{ constants.siteUrl }}">
    <meta name="twitter:title" content="{{ pageTitle }}">
    <meta name="twitter:description" content="{{ constants.siteDescription }}">
    <meta name="twitter:image" content="{{ constants.siteUrl }}images/og-image.png">

    <meta name="thumbnail" content="{{ constants.siteUrl }}images/og-image.png" />

    <link rel="preload" href="{{ page.url | relativeUrl }}styles/bundle.css" as="style">
    {% if ['/'].includes(page.url) %}
      <link rel="prerender" href="{{ page.url | relativeUrl }}hot/">
    {% endif %}

    {% if constants.googleSiteVerification %}
        <meta name="google-site-verification" content="{{ constants.googleSiteVerification }}" />
    {% endif %}

    <link rel="shortcut icon" href="{{ page.url | relativeUrl }}images/favicon.ico">
    <link rel="apple-touch-icon" href="{{ page.url | relativeUrl }}images/apple-icon.png">
    <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="{{ page.url | relativeUrl }}feeds/atom.xml" />
    <link rel="alternate" type="application/rss+xml" title="RSS2.0" href="{{ page.url | relativeUrl }}feeds/rss.xml" />
    <link rel="alternate" type="application/json" href="{{ page.url | relativeUrl }}feeds/feed.json" />

    <link rel="stylesheet" type="text/css" href="{{ page.url | relativeUrl }}styles/bundle.css" />

    {% if constants.globalSiteTagKey %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ constants.globalSiteTagKey }}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];

          function gtag() {
            dataLayer.push(arguments);
          }

          gtag('js', new Date());

          gtag('config', '{{ constants.globalSiteTagKey }}');
        </script>
    {% endif %}

    <title>{{ pageTitle }}</title>
</head>
<body>

    <header role="banner" class="ui-section-header">
        <div class="ui-layout-container">
            <div class="ui-section-header__layout ui-layout-flex">
                <a href="{{ constants.siteUrl }}" role="link" aria-label="#">
                    <img src="{{ page.url | relativeUrl }}images/icon.png" alt='サイトロゴ' loading="eager" width='96' height='96' />
                    <span class='ui-section-header__title'>{{ constants.siteTitle }}</span>
                </a>
                <div class="ui-section-header__links">
                    <a href="{{ constants.gitHubRepositoryUrl }}" role="link" aria-label="#" target="_blank">
                        <img src='{{ page.url | relativeUrl }}images/icon-github.png' alt='GitHubロゴ' loading="eager" width='96' height='96' />
                    </a>
                    <a href="{{ constants.xUserUrl }}" role="link" aria-label="#" target="_blank">
                        <img src='{{ page.url | relativeUrl }}images/icon-x.png' alt='Xロゴ' loading="eager" width='96' height='96' />
                    </a>
                </div>
            </div>
        </div>
    </header>

    <main role="main">
        {{ content | safe }}
    </main>

    <footer role="contentinfo" class="ui-section-footer">
        <div class="ui-layout-container">
            <div class="ui-layout-column-6 ui-layout-column-center">
                <div class="ui-component-cta ui-layout-flex ui-section-footer__site-info">
                    <p class="ui-text-note">
                        このサイトは<br>記事を読んでその企業の技術・カルチャーを知れることや<br>質の高い技術情報を得られることを目的としています。
                    </p>
                    {% if constants.howToAddSiteLink %}
                    <p class='ui-text-note'>
                        追加したいブログがある場合は<br>
                        <a href='{{ constants.howToAddSiteLink }}' target="_blank">サイトの追加方法</a>
                        をご参照ください。
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="ui-layout-container">
            <div class="ui-section-footer__layout ui-layout-flex">
                <p class="ui-section-footer--copyright ui-text-note">
                    <a class="ui-text-note" href='{{ constants.gitHubUserUrl }}' target="_blank"><small>@{{ constants.author }}</small></a>
                </p>
                <a href="{{ constants.gitHubRepositoryUrl }}" role="link" aria-label="#" class="ui-text-note" target="_blank"><small>GitHub</small></a>
            </div>
        </div>
    </footer>

</body>
</html>
