---
layout: layouts/main.njk
eleventyComputed:
    pageTitle: "{{ blogFeed.title }}のフィード｜{{ constants.siteTitle }}"
    lastUpdated: "{{ blogFeed.lastUpdatedIso }}"
pagination:
    data: blogFeeds
    size: 1
    alias: blogFeed
    addAllPagesToCollections: true
permalink: "blogs/{{ blogFeed.linkMd5Hash }}/"
---

{% include 'layouts/partials/nav.njk' %}

<section class="ui-section-content ui-section-feed">
    <div class="ui-layout-container">
        <h2 class='ui-typography-heading'>{{ blogFeed.title }} のフィード</h2>
        <div class="ui-section-content--feature ui-layout-grid ui-layout-grid-3 ui-container-feed ui-container-feed--no-image">
            {% for feedItem in blogFeed.items %}
                <div class='ui-feed-item'>
                    <a class='ui-feed-item__ogp-image' href='{{ feedItem.link }}'>
                        {% if feedItem.ogImageUrl %}
                            {% image feedItem.ogImageUrl, '記事のアイキャッチ画像', page.url | relativeUrl %}
                        {% else %}
                            <img src='{{ page.url | relativeUrl }}images/icon256-transparent.png' loading="lazy" decoding='async' alt='記事のアイキャッチ画像' width='256' height='256'>
                        {% endif %}
                    </a>
                    <div class='ui-feed-item__content'>
                        <a class='ui-feed-item__title' href='{{ feedItem.link }}'>{{ feedItem.title }}</a>
                        {% if feedItem.hatenaCount > 0 %}
                            <div class='ui-feed-item__hatena-count' title='はてなブックマーク数'>
                                <img src='{{ page.url | relativeUrl }}images/hatenabookmark-icon.png' alt='はてなブックマークアイコン' loading="lazy" decoding='async' width='96' height='96'>
                                <span>{{ feedItem.hatenaCount }}</span>
                            </div>
                        {% endif %}
                        <div class='ui-feed-item__blog-title'>{{ blogFeed.title }}</div>
                        {% if feedItem.summary %}
                            <div class='ui-feed-item__summary'>{{ feedItem.summary | truncate(200, true, "...") }}</div>
                        {% endif %}
                        <div class='ui-feed-item__date' title='{{ feedItem.pubDateForHuman }}'>{{ feedItem.diffDateForHuman }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
