---
layout: layouts/main.njk
eleventyComputed:
    pageTitle: "ブログ一覧｜{{ constants.siteTitle }}"
    lastUpdated: "{{ lastModifiedBlogsDate }}"
---

{% include 'layouts/partials/nav.njk' %}

<section class="ui-section-content ui-section-blog">
    <div class="ui-layout-container">
        <h2 class='ui-typography-heading'>ブログ一覧<small>（更新順）</small></h2>
        <div class="ui-section-content--feature ui-layout-grid ui-layout-grid-3 ui-container-blog">
            {% asyncEach blogFeed in blogFeeds %}
                <div class='ui-blog'>
                    <a class='ui-blog__og-image' href='./{{ blogFeed.linkMd5Hash }}/'>
                        {% if blogFeed.ogImageUrl !== null %}
                            {% imageThumbnail blogFeed.ogImageUrl, 'ブログのアイキャッチ画像', '../' %}
                        {% else %}
                            <img src='{{ page.url | relativeUrl }}images/alternate-feed-image.png' loading="lazy" alt='記事のアイキャッチ画像' width='256' height='256'>
                        {% endif %}
                    </a>
                    <div class='ui-blog__content'>
                        <a class='ui-blog__title' href='./{{ blogFeed.linkMd5Hash }}/'>{{ blogFeed.title }}</a>
                        <a class='ui-blog__link' href='{{ blogFeed.link }}'>{{ blogFeed.link }}</a>
                        {% if blogFeed.ogDescription %}
                            <div class='ui-blog__description'>{{ blogFeed.ogDescription | truncate(200, true, "...") }}</div>
                        {% endif %}
                        {% if blogFeed.lastUpdated %}
                            <div class='ui-blog__date' title='{{ blogFeed.lastUpdatedForHuman }}'>{{ blogFeed.diffLastUpdatedDateForHuman }}</div>
                        {% else %}
                            <div class='ui-blog__date' title='更新日時なし'>-</div>
                        {% endif %}
                    </div>
                </div>
            {% endeach %}
        </div>
    </div>
</section>
