---
layout: layouts/main.njk
eleventyComputed:
    pageTitle: "{{ blogFeed.title }}のフィード｜{{ constants.siteTitle }}"
    lastUpdated: "{{ blogFeed.lastUpdatedIso }}"
pagination:
    data: blogFeeds
    size: 1
    alias: blogFeed
    addAllPagesToCollections: true
permalink: "blogs/{{ blogFeed.linkMd5Hash }}/"
---

{% include 'layouts/partials/nav.njk' %}

<section class="ui-section-content ui-section-feed">
    <div class="ui-layout-container">
        <h2 class='ui-typography-heading'>{{ blogFeed.title }}</h2>
        <div class='ui-container-blog-summary'>
            <div class='ui-blog-summary'>
                <a class='ui-blog-summary__link' href='{{ blogFeed.link }}'>{{ blogFeed.link }}</a>
                <p class='ui-blog-summary__description'>{{ blogFeed.ogDescription }}</p>
            </div>
        </div>

        <h3 class='ui-typography-heading'>フィード</h3>
        <div class="ui-section-content--feature ui-layout-grid ui-layout-grid-3 ui-container-feed ui-container-feed--no-image">
            {% asyncEach feedItem in blogFeed.items %}
                <div class='ui-feed-item'>
                    <a class='ui-feed-item__og-image' href='{{ feedItem.link }}'>
                        {% if feedItem.ogImageUrl !== null %}
                            {% imageThumbnail feedItem.ogImageUrl, '記事のアイキャッチ画像', page.url | relativeUrl %}
                        {% else %}
                            <img src='{{ page.url | relativeUrl }}images/alternate-feed-image.png' loading="lazy" alt='記事のアイキャッチ画像' width='256' height='256'>
                        {% endif %}
                    </a>
                    <div class='ui-feed-item__content'>
                        <a class='ui-feed-item__title' href='{{ feedItem.link }}'>{{ feedItem.title }}</a>
                        {% if feedItem.hatenaCount > 0 %}
                            <div class='ui-feed-item__hatena-count' title='はてなブックマーク数'>
                                <img src='{{ page.url | relativeUrl }}images/hatenabookmark-icon.png' alt='はてなブックマークアイコン' loading="lazy" width='96' height='96'>
                                <span>{{ feedItem.hatenaCount }}</span>
                            </div>
                        {% endif %}
                        <div class='ui-feed-item__blog-title'>{{ blogFeed.title }}</div>
                        {% if feedItem.content_html %}
                            <div class='ui-feed-item__summary'>{{ feedItem.content_html | truncate(1000, true, "...") }}</div>
                        {% endif %}
                        <div class='ui-feed-item__date' title='{{ feedItem.pubDateForHuman }}'>{{ feedItem.diffDateForHuman }}</div>
                    </div>
                </div>
            {% endeach %}
        </div>
    </div>
</section>
