---
layout: layouts/main.njk
eleventyComputed:
    pageTitle: "{{ blogFeed.title }}のフィード｜{{ constants.siteTitle }}"
    lastUpdated: "{{ blogFeed.lastUpdatedIso }}"
pagination:
    data: dates
    size: 1
    alias: date
    addAllPagesToCollections: true
permalink: "blogs/date/{{ date }}/"
---

{% macro formatDate(dateString) %}
  {{ dateString.split('T')[0].toString() }}
{% endmacro %}

{% include 'layouts/partials/nav.njk' %}

<section class="ui-section-content ui-section-feed">
    <div class="ui-layout-container">
        <h2 class='ui-typography-heading'>{{ date }}のフィード</h2>
        <div class="ui-section-content--feature ui-layout-grid ui-layout-grid-3 ui-container-feed ui-container-feed--no-image">
          {% asyncEach dateString, feedItems in feedItemsChunks %}
            {{ dateString }}
            {{ feedItems | dump | safe }}
           # {% set formattedDate = formatDate(feedItems.date_published) %}
           # {% if formattedDate.includes(date) %}
              {% include 'layouts/partials/feed-item.njk' %}
           # {% endif %}
          {% endeach %}
        </div>
    </div>
</section>
