---
layout: layouts/main.njk
eleventyComputed:
    pageTitle: "人気フィード｜{{ constants.siteTitle }}"
    lastUpdated: "{{ lastModifiedBlogsDate }}"
---

{% include 'layouts/partials/nav.njk' %}

<section class="ui-section-content ui-section-feed">
    <div class="ui-layout-container">
        <h2 class='ui-typography-heading'>直近1週間の人気フィード</h2>
        <p class='ui-text-note'>はてなブックマーク数を元に新着優先で並べ替え</p>

        <div class="ui-section-content--feature ui-layout-grid ui-layout-grid-3 ui-container-feed ui-container-feed--hot">
            {% asyncEach feedItem in feedItemsHot %}
                {% if loop.index <= 4 %}
                    {% set imageLoading = 'eager' %}
                {% else %}
                    {% set imageLoading = 'lazy' %}
                {% endif %}
                {% include 'layouts/partials/feed-item.njk' %}
            {% endeach %}
        </div>
    </div>
</section>

<script>
    {% include "scripts/index.ts" %}
</script>
