---
layout: layouts/main.njk
eleventyComputed:
    pageTitle: "人気｜{{ constants.siteTitle }}"
    lastUpdated: "{{ lastModifiedBlogsDate }}"
---

{% include 'layouts/partials/nav.njk' %}

<section class="ui-section-content ui-section-feed">
    <div class="ui-layout-container">
        {% include 'layouts/partials/feed-toggle-nav.njk' %}

        <div class="ui-section-content--feature ui-layout-grid ui-layout-grid-3 ui-container-feed ui-container-feed--hot">
            {% asyncEach feedItem in feedItemsHot %}
                {% include 'layouts/partials/feed-item.njk' %}
            {% endeach %}
        </div>
    </div>
</section>

<script>
    {% include "scripts/index.ts" %}
</script>
