<!doctype html>
<html lang="ja">
<head>
    <meta charSet="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name='description' content='企業のテックブログの更新をまとめたRSSフィードを配信しています。記事を読んでその企業の技術・カルチャーを知れることや、質の高い技術情報を得られることを目的としています。'>
    <meta name="author" content="yamadashy">
    <meta name="robots" content="index, follow">

    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/icon.png">
    <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="feeds/atom.xml" />
    <link rel="alternate" type="application/rss+xml" title="RSS2.0" href="feeds/rss.xml"/>
    <link rel="alternate" type="application/json" href="feeds/feed.json"/>

    <style>
        {% include "reset.css" %}
        {% include "base.css" %}
        {% include "index.css" %}
    </style>

    <title>企業テックブログRSS</title>
</head>
<body>

    <header role="banner" class="ui-section-header">
        <div class="ui-layout-container">
            <div class="ui-section-header__layout ui-layout-flex">
                <a href="{{ siteUrl }}" role="link" aria-label="#">
                    <img src='images/icon.png' alt='サイトロゴ' />
                    <span class='ui-section-header__title'>企業テックブログRSS</span>
                </a>
                <a href="{{ gitHubUrls.repository }}" role="link" aria-label="#">
                    <img src='images/github-mark.png' alt='GitHubロゴ'>
                </a>
            </div>
        </div>
    </header>

    <main role="main">
        <section class="ui-section-content top-section">
            <div class="ui-layout-container">
                <div class="ui-layout-column-6 ui-layout-column-center">
                    <p class="ui-text-intro">
                        企業のテックブログの更新をまとめた<br>RSSフィードを配信しています<br>
                    </p>
                    <div class="ui-component-cta ui-layout-flex">
                        <form class="ui-component-form ui-layout-grid">
                            <label class='ui-component-form__label' for='feed-url-slack'>
                                <img src='images/slack-mark.png' alt='Slackのロゴ'>
                            </label>
                            <input type='text' id='feed-url-slack' class="ui-component-input ui-component-input-medium" readonly value='/feed {{ feedUrls.atom }}'>
                            <button type="button" class="ui-component-button ui-component-button-medium ui-component-button-primary feed-url-copy-button">コピー</button>
                        </form>
                        <p class="ui-text-note"><small>Slackに貼り付けると更新を受け取ることができます</small></p>
                        <form class="ui-component-form ui-layout-grid">
                            <label class='ui-component-form__label' for='feed-url-atom'>
                                <span>Atom URL</span>
                            </label>
                            <input type='text' id='feed-url-atom' class="ui-component-input ui-component-input-medium" readonly value='{{ feedUrls.atom }}'>
                            <button type="button" class="ui-component-button ui-component-button-medium ui-component-button-primary feed-url-copy-button">コピー</button>
                        </form>
                        <form class="ui-component-form ui-layout-grid">
                            <label class='ui-component-form__label' for='feed-url-rss'>
                                <span>RSS URL</span>
                            </label>
                            <input type='text' id='feed-url-rss' class="ui-component-input ui-component-input-medium" readonly value='{{ feedUrls.rss }}'>
                            <button type="button" class="ui-component-button ui-component-button-medium ui-component-button-primary feed-url-copy-button">コピー</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="ui-section-content ui-section-feed">
            <div class="ui-layout-container">
                <h2 class='ui-typography-heading'>直近1週間の更新</h2>
                <div class="ui-section-content--feature ui-layout-grid ui-layout-grid-3 ui-container-feed">
                    {% for feedItem in feedItems %}
                        <div class='ui-feed-item'>
                            <h5 class='ui-feed-item__title'>
                                <a href='{{ feedItem.url }}'>{{ feedItem.title }}</a>
                            </h5>
                            {% for feedItemTag in feedItem.tags %}
                                <span class='ui-feed-item__tag'>{{ feedItemTag }}</span>
                            {% endfor %}
                            <p class='ui-feed-item__date' title='{{ feedItem.pubDateForHuman }}'>{{ feedItem.diffDateForHuman }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>

    <footer role="contentinfo" class="ui-section-footer">
        <div class="ui-layout-container">
            <div class="ui-section-footer__layout ui-layout-flex">
                <p class="ui-section-footer--copyright ui-text-note">
                    <a class="ui-text-note" href='{{ gitHubUrls.user }}'><small>@yamadashy</small></a>
                </p>
                <a href="{{ gitHubUrls.repository }}" role="link" aria-label="#" class="ui-text-note"><small>GitHub</small></a>
            </div>
        </div>
    </footer>

    <script>
        {% include "index.js" %}
    </script>

</body>
</html>
