---
layout: layouts/main.njk
eleventyComputed:
    pageTitle: "{{ constants.siteTitle }}"
    lastUpdated: "{{ lastModifiedBlogsDate }}"
---

{% include 'layouts/partials/top-section.njk' %}

{% include 'layouts/partials/nav.njk' %}

<section class="ui-section-content ui-section-feed">
    <div class="ui-layout-container">
        <h2 class='ui-typography-heading'>直近1週間の更新</h2>

        {% asyncEach dateString, feedItems in feedItemsChunks %}
            <h3 class='ui-section-content__feed-date-heading'>{{ dateString }}</h3>
            <div class="ui-section-content--feature ui-layout-grid ui-layout-grid-3 ui-container-feed">
                {% asyncEach feedItem in feedItems %}
                    {% if loop.index <= 4 %}
                        {% set imageLoading = 'eager' %}
                    {% else %}
                        {% set imageLoading = 'lazy' %}
                    {% endif %}
                    {% include 'layouts/partials/feed-item.njk' %}
                {% endeach %}
            </div>
        {% endeach %}
    </div>
</section>

<script>
    {% include "scripts/index.ts" %}
</script>
