---
permalink: /sitemap.xml
---
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ constants.siteUrl }}</loc>
    <lastmod>{{ currentDate }}</lastmod>
  </url>
</urlset>
